celery
django<4
django-celery-beat
django-celery-results
django-cors-headers
django-jazzmin
django-autocomplete-light
django-taggit
django-timezone-field
djangorestframework
gunicorn
numpy
Pillow
pandas
psycopg2-binary
python-memcached
redis
requests
scipy
uvicorn
