<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer opened #snav mode="side">
    <mat-nav-list>
      <a
        mat-list-item
        href="https://gitlab.com/sacovo/swiss-magic-wall"
        target="_blank"
        >Source Code</a
      >
      <a mat-list-item href="https://sandrocovo.ch" target="_blank"
        >Über mich</a
      >
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <section>
      <h2>Datenherkunft</h2>
      <p>
        <a
          href="https://opendata.swiss/en/dataset/echtzeitdaten-am-abstimmungstag-zu-eidgenoessischen-abstimmungsvorlagen"
        >
          Echtzeitdaten am Abstimmungstag zu eidgenössischen Abstimmungsvorlagen </a
        >, Federal Statistical Office FSO
      </p>

      <h2>Referenzen</h2>
      <p>
        <a href="https://infoscience.epfl.ch/record/278872">
          Sub-Matrix Factorization for Real-Time Vote Prediction Immer,
          Alexander;
        </a>
        Kristof, Victor; Grossglauser, Matthias; Thiran, Patrick
      </p>

      <p>
        Die Hochrechnungen basieren ca. auf dem obigen Papier, mit ein paar
        Anpassungen und ohne Garantie, dass es richtig funktioniert.
      </p>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
