#map {
  display: flex;
  justify-content: flex-end;
}
:host::ng-deep {
  .see {
    fill: lightblue;
  }

  #map.noCantons .kanton {
    fill: transparent;
    stroke-width: 2px;
  }

  .kanton {
    stroke: #000000;
    stroke-width: 1px;
  }

  .kanton[data-active='true'] {
    fill: none !important;
  }

  .commune {
    stroke: #000000;
    stroke-width: 0.5px;
  }
}

img#wappen {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 5vw;
  cursor: pointer;
}
