<div class="heading" *ngIf="votation">
  <div class="mat-typography">
    <h1 class="mat-title">{{ getTitle() }}</h1>
    <h3 class="mat-subheading-1">
      Letzte Aktualisierung: {{ votation.timestamp | date: 'long' }}
    </h3>
  </div>
  <a
    class="map"
    [routerLink]="['/votation', votation.id]"
    mat-flat-button
    color="primary"
    >Karte</a
  >
</div>
<mat-tab-group>
  <mat-tab label="Kantone">
    <p-table
      styleClass="p-datatable-sm"
      *ngIf="votation"
      [value]="canton_rows"
      sortMode="multiple"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter field="name" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="yes_counted">
            JA Gezählt
            <p-sortIcon field="yes_counted"></p-sortIcon>
            <p-columnFilter
              field="yes_counted"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="no_counted">
            NEIN Gezählt
            <p-sortIcon field="no_counted"></p-sortIcon>
            <p-columnFilter
              field="no_counted"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="yes_percent_counted">
            Zwischenresultat
            <p-sortIcon field="yes_predicted"></p-sortIcon>
            <p-columnFilter
              field="yes_percent_counted"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="yes_predicted">
            JA Prognose
            <p-sortIcon field="yes_predicted"></p-sortIcon>
            <p-columnFilter
              field="yes_predicted"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="no_predicted">
            NEIN Prognose
            <p-sortIcon field="no_predicted"></p-sortIcon>
            <p-columnFilter
              field="no_predicted"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="yes_percent">
            Prognose
            <p-sortIcon field="yes_percent"></p-sortIcon>
            <p-columnFilter
              field="yes_percent"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>

          <th pSortableColumn="is_final">
            Final
            <p-sortIcon field="is_final"></p-sortIcon>
            <p-columnFilter
              field="is_final"
              type="boolean"
              display="menu"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-canton>
        <tr>
          <td>
            <img
              [src]="'assets/cantons/' + canton.id + '.svg'"
              [alt]="canton.name"
              width="20"
              class="p-shadow-4"
            />
            {{ canton.name }}
          </td>
          <td class="number">{{ canton.yes_counted | number }}</td>
          <td class="number">{{ canton.no_counted | number }}</td>
          <td
            [ngClass]="{
              yes: canton.yes_percent_counted > 50,
              no: canton.yes_percent_counted <= 50,
              number: true
            }"
          >
            {{ canton.yes_percent_counted | number: '2.3-3' }} %
          </td>
          <td class="number">{{ canton.yes_predicted | number }}</td>
          <td class="number">{{ canton.no_predicted | number }}</td>
          <td
            [ngClass]="{
              yes: canton.yes_percent > 50,
              no: canton.yes_percent <= 50,
              number: true
            }"
          >
            {{ canton.yes_percent | number: '2.3' }}%
          </td>
          <td class="boolean">
            <i
              class="pi"
              [ngClass]="{
                'true-icon pi-check-circle': canton.is_final,
                'false-icon pi-times-circle': !canton.is_final
              }"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-tab>
  <mat-tab label="Gemeinden">
    <p-table
      styleClass="p-datatable-sm"
      *ngIf="votation"
      [value]="commune_rows"
      sortMode="multiple"
      [paginator]="true"
      [rows]="25"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[25, 50, 100]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Name
            <p-sortIcon field="name"></p-sortIcon>
            <p-columnFilter field="name" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="canton">
            Kanton
            <p-sortIcon field="canton"></p-sortIcon>
            <p-columnFilter field="canton" display="menu"></p-columnFilter>
          </th>
          <th pSortableColumn="yes_total">
            JA
            <p-sortIcon field="yes_total"></p-sortIcon>
            <p-columnFilter
              field="yes_total"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="no_total">
            NEIN
            <p-sortIcon field="no_total"></p-sortIcon>
            <p-columnFilter
              field="no_total"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="yes_percent">
            Zustimmung in %
            <p-sortIcon field="yes_percent"></p-sortIcon>
            <p-columnFilter
              field="yes_percent"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="participation">
            Beteiligung in %
            <p-sortIcon field="participation"></p-sortIcon>
            <p-columnFilter
              field="participation"
              type="numeric"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="final">
            Final
            <p-sortIcon field="final"></p-sortIcon>
            <p-columnFilter
              field="final"
              type="boolean"
              display="menu"
            ></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-commune>
        <tr style="height: 34px">
          <td>{{ commune.name }}</td>
          <td>{{ commune.canton }}</td>
          <td class="number">{{ commune.yes_total | number }}</td>
          <td class="number">{{ commune.no_total | number }}</td>
          <td
            [ngClass]="{
              yes: commune.yes_percent > 50,
              no: commune.yes_percent <= 50,
              number: true
            }"
          >
            {{ commune.yes_percent | number: '2.3-3' }} %
          </td>
          <td class="number">
            {{ commune.participation | number: '2.3-3' }} %
          </td>
          <td class="boolean">
            <i
              class="pi"
              [ngClass]="{
                'true-icon pi-check-circle': commune.final,
                'false-icon pi-times-circle': !commune.final
              }"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </mat-tab>
</mat-tab-group>
