
.content {
  display: flex;
  flex-direction: row;
}

.info-bar {
  flex: 1 1 30%;
}

#map {
  flex: 1 1 70%;
}

.progress {
  display: flex;
  flex-direction: flow;
  height: 3em;
  background-color: grey;
  color: white;
  vertical-align: middle;
}

.progress > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bar {
  background-color: green;
}

.yes {
  background-color: blue;
}

.yes-p {
  background-color: lightblue;
}

.no {
  background-color: red;
}

.no-p {
  background-color: orange;
}

.kantonHeader {
  display: flex;
  justify-content: space-evenly;
}
