<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer opened mode="over">
    <mat-spinner *ngIf="!votation"> </mat-spinner>
    <div class="votation-info" *ngIf="votation">
      <h2>Schweiz</h2>
      <div class="numbers">
        <span>{{yesCountedPercent() | number:"2.2-2"}}%</span>
        <span>{{yesPredictedPercent() | number:"2.2-2"}}%</span>
      </div>
      <ngx-charts-bar-vertical-stacked
        *ngIf="colorScheme && results"
        [view]="[200, 200]"
        [results]="results"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="false"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        xAxisLabel="Stimmen"
        [scheme]="binaryColorScheme"
      >
      </ngx-charts-bar-vertical-stacked>
    </div>

    <div *ngIf="selectedCantonId" class="votation-info">
      <h2>
        {{selectedCantonName}}
        <mat-icon *ngIf="cantonCounted">verified</mat-icon>
      </h2>
      <div class="numbers">
        <span>{{yesCountedPercentCanton() | number:"2.2-2"}}%</span>
        <span>{{yesPredictedPercentCanton() | number:"2.2-2"}}%</span>
      </div>
      <ngx-charts-bar-vertical-stacked
        *ngIf="colorScheme && results"
        [view]="[200, 200]"
        [results]="cantonResults"
        [gradient]="false"
        [xAxis]="true"
        [yAxis]="false"
        [legend]="false"
        [showXAxisLabel]="false"
        [showYAxisLabel]="false"
        xAxisLabel="Stimmen"
        [scheme]="binaryColorScheme"
      >
      </ngx-charts-bar-vertical-stacked>
    </div>

    <div *ngIf="selectedCommuneId" class="votation-info">
      <h2>
        {{selectedCommuneName}}
        <mat-icon *ngIf="communeCounted">done</mat-icon>
        <mat-icon *ngIf="!communeCounted">history_toggle_off</mat-icon>
      </h2>
      <div class="numbers" *ngIf="communeResults">
        <span>{{yesPercentCommune() | number:"2.2-2"}}%</span>
      </div>
      <ngx-charts-pie-chart
        *ngIf="communeResults"
        [view]="[200, 200]"
        [results]="communeResults"
        [gradient]="false"
        [legend]="false"
        label="true"
        xAxisLabel="Stimmen"
        [scheme]="binaryColorScheme"
      >
      </ngx-charts-pie-chart>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-map
      (cantonSelect)="cantonEvent($event)"
      (communeSelect)="communeEvent($event)"
      (mapUpdated)="redrawMap($event)"
    ></app-map>
    <mat-card class="moreStats mat-elevation-z4" *ngIf="votation">
      <mat-card-header>
        <mat-card-title>
          <h1 class="votation-title">{{getTitle()}}</h1>
        </mat-card-title>
        <mat-card-subtitle
          >Letzte Aktualisierung: {{ votation.timestamp | date: "long" }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-advanced-pie-chart
          *ngIf="!selectedCantonId"
          class="overview"
          [view]="[600,200]"
          [results]="pieResults"
          [gradient]="false"
          [animations]="false"
          [scheme]="colorScheme"
        >
        </ngx-charts-advanced-pie-chart>
        <ngx-charts-advanced-pie-chart
          *ngIf="selectedCantonId"
          class="overview"
          [view]="[600,200]"
          [results]="pieResultsCanton"
          [gradient]="false"
          [animations]="false"
          [scheme]="colorScheme"
        >
        </ngx-charts-advanced-pie-chart>
      </mat-card-content>
      <mat-card-actions>
        <a
          class="back"
          *ngIf="votation"
          [routerLink]="['/date', votation.date_id]"
          mat-flat-button
          color="secondary"
          >Zurück</a
        >
        <a
          class="table"
          *ngIf="votation"
          [routerLink]="['/votation', votation.id, 'table']"
          mat-flat-button
          color="primary"
          >Tabelle</a
        >
      </mat-card-actions>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
