mat-drawer {
  width: 200px;
}

mat-toolbar {
  overflow-x: auto;
}

.votation-info h2 {
  text-align: center;
  margin-top: 1em;
}


.votation-title {
  position: absolute;
  left: 210px;
  top: 10px;
}

.back {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
